<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="static/boostrap/bootstrap-4.0.0/dist/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">

    <!-- <nav class="navbar navbar-light bg-light">
        <span class="navbar-text">
            Online EDA Automation
        </span>
      
    
      <span class="nav-link">
        About
    </span>
    </nav> -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Online EDA Automation</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>
        
      </nav>

      <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'New-project')" id="defaultOpen">New Project</button>
        <button class="tablinks" onclick="openTab(event, 'Dashboard')">Dashboard</button>
        
      </div>
      
      <div id="New-project" class="tabcontent">
        <form class="new-project-tab-content" method="POST"> 
          <div class="row mb-3">
              <label for="inputprojectName" class="col-sm-2 col-form-label">Project Name</label>
              <div class="col-sm-5">
                  <input type="text" class="form-control" id="inputprojectName" placeholder="Project Name">
              </div>
          </div>
          <div class="row mb-3">
              <label for="selectDataset" class="col-sm-2 col-form-label">Select Dataset</label>
              <div class="col-sm-5">
                  <input type="text" class="form-control" id="selectDataset" placeholder="Select Dataset">
              </div>
          </div>
          
          <div class="row mb-3">
            <label for="selectType" class="col-sm-2 col-form-label">Select Type</label>
            <div class="col-md-5">
            <select name="selectType" id="selectType">
              <option value="csv">CSV</option>
              <option value="json">JSON</option>
              <option value="xml">XML</option>
              
            </select>
            </div>
        </div>

          <div class="row">
              <div class="col-sm-10 offset-sm-2">
                  <button type="submit" class="btn btn-primary">Upload</button>
              </div>
          </div>
      </form>
      </div>
      
      <div id="Dashboard" class="tabcontent">
        <h3>Dashboard</h3>
        <p>Dashboard</p> 
      </div>
      
    
      

    
    <!--===============================================================================================-->
	<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
        <script src="static/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
        <script src="static/vendor/bootstrap/js/popper.js"></script>
        <!-- <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script> -->
        <script src="static/boostrap/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
        
    <!--===============================================================================================-->
        <script src="static/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
        <script src="static/vendor/daterangepicker/moment.min.js"></script>
        <script src="static/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
        <script src="static/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
        <script src="static/js/main.js"></script>




        <script>
            function openTab(evt, cityName) {
              var i, tabcontent, tablinks;
              tabcontent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
              }
              tablinks = document.getElementsByClassName("tablinks");
              for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
              }
              document.getElementById(cityName).style.display = "block";
              evt.currentTarget.className += " active";
            }
            
            // Get the element with id="defaultOpen" and click on it
            document.getElementById("defaultOpen").click();
            </script>
    
    </body>
    </html>