<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sign Up</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="static/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="static/boostrap/bootstrap-4.0.0/dist/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="static/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="static/css/util.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form"  id="myForm" method="POST" action="{{ url_for('main.login') }}" onsubmit=" return aTestFunction()">
				<!-- onsubmit="event.preventDefault();"> -->
				<!-- onsubmit = "return aTestFunction();"> -->
					<!-- action="{{ url_for('main.check1') }}"> -->
					<span class="login100-form-title p-b-43">
						Sign Up
					</span>
					
					
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="reg_email" id="reg_email" required>
						<span class="focus-input100"></span>
						<span class="label-input100">Email</span>
					</div>
					
                    <div class="wrap-input100 validate-input" data-validate = "Valid name is required">
						<input class="input100" type="text" name="reg_firstname" id="reg_firstname" required>
						<span class="focus-input100"></span>
						<span class="label-input100">First Name</span>
					</div>
                    <div class="wrap-input100 validate-input" data-validate = "Valid name is required">
						<input class="input100" type="text" name="reg_lastname" id="reg_lastname" required>
						<span class="focus-input100"></span>
						<span class="label-input100">Last Name</span>
					</div>
					
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="reg_pass" id="reg_pass" required>
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="reg_con_pass" id= "reg_con_pass" required>
						<span class="focus-input100"></span>
						<span class="label-input100">Confirm Password</span>
					</div>
					<div class="validate-input" id="didnotmatch">
						
					  </div>

			

					<div class="container-login100-form-btn">

						
						<button class="login100-form-btn" id="signUpBtn" type="submit"> 
						<!-- onclick="aTestFunction()"> -->
					<!-- onclick="aTestFunction(this)"> -->
							Signup
						</button>
						
					</div>
					
					
					<div class="text-center p-t-46 p-b-20">
						<a href={{ url_for('main.login') }}><span class="txt1 stretched-link">
							Already have an account? Login</a>
						</span>
					</div>

					

					<!-- <div class="login100-form-social flex-c-m">
						<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
							<i class="fa fa-facebook-f" aria-hidden="true"></i>
						</a>

						<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</div> -->

					 <!--Modal: modalCoupon-->
		<div class="modal fade top" id="modalCoupon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true" data-backdrop="true">
		<div class="modal-dialog modal-frame modal-top modal-notify modal-success" role="document">
		  <!--Content-->
		  <div class="modal-content">
			<!--Body-->
			<div class="modal-body">
			  <div class="row d-flex justify-content-center align-items-center">
	
				<h2>
				  <span class="badge">Great</span>
				</h2>
				<p class="pt-3 mx-4">You have logged in successfully! Please try login again.	
				  
			  </p>
	
				
				<a type="button" class="btn btn-outline-success waves-effect stretched-link" data-dismiss="modal" id="modalLogin" href="{{ url_for('main.login') }}">Login</a>
			  </div>
			</div>
		  </div>
		  <!--/.Content-->
		</div>
	  </div> 
	  <!--Modal: modalCoupon-->
	
	  <!--Section: Live preview-->


				</form>

				<div class="login100-more" style="background-image: url('static/images/bg_image.jpg');">
				</div>
			</div>
		</div>
	</div>

	

<!-- 
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCoupon">Launch
		modal</button>
	   -->
	 
	
	

	
	
<!--===============================================================================================-->
	<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/bootstrap/js/popper.js"></script>
	<!-- <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script> -->
	<script src="static/boostrap/bootstrap-4.0.0/dist/js/bootstrap.min.js"></script>
	
<!--===============================================================================================-->
	<script src="static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/daterangepicker/moment.min.js"></script>
	<script src="static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="static/js/main.js"></script>

	<!-- <script>
		$(document).ready(function(){
			// $('#loading').hide();
			$("#signUpBtn").click(function(e){
				// e.preventDefault();
				// $('#loading').show();
				// var path = $("#csvfile").val();
				$.ajax({
					//change url below
					url : "/check1",
					type: "POST",
					// data: {filepath:path},
					success: function(response){
						$(".json-result").text('<p>"Helli</p><pre>' + response + '</pre>');	
						// $('#loading').hide();
					}
				});
			});
		});
	</script> -->


<script>
    function aTestFunction(obj){
		// obj.preventDefault();
		// obj.stopPropagation();
		var validRegex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
		var validName = /^[A-Za-z]+$/;
	
		
		
		

		var form = document.getElementById("myForm");
		form.addEventListener('submit', aTestFunction);
		
		if($("#reg_email").val().match(validRegex) != null){
			if ($("#reg_firstname").val().match(validName) != null){

				if($("#reg_lastname").val().match(validName) != null){
					if($("#reg_pass").val() === $("#reg_con_pass").val()){
						$('#modalCoupon').modal('show');
						$("#didnotmatch").html("");
						// $(".alert").show();
						 alert('User have been added successfully! click OK to login!');
						// return false
						
						// $("#myForm").unbind('onsubmit');
						
					}else{
					$('#modalCoupon').modal('hide');
					$("#didnotmatch").html("Password does not match !").css("color","red");
					 return false;
					}

					

				}else{
					$('#modalCoupon').modal('hide');
					var reg_lastname_input = $('#reg_lastname');
					var thisAlert = $(reg_lastname_input).parent();
					$(thisAlert).addClass('alert-validate');
					 return false;
				}
				
			}else{
				$('#modalCoupon').modal('hide');
				var reg_firstname_input = $('#reg_firstname');
				var thisAlert = $(reg_firstname_input).parent();
				$(thisAlert).addClass('alert-validate');
				return false;
				
			}
				

			}else{
			
    		$('#modalCoupon').modal('hide');
			var reg_email_input = $('#reg_email');
			var thisAlert = $(reg_email_input).parent();
			$(thisAlert).addClass('alert-validate');
			return false;
			}
		}
		
		
</script>


	
</body>
</html>
