<!DOCTYPE html>
<html>
<head>
    <title>GFG</title>
    <link rel="icon" type="image/png" href="static/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
      <!-- <link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap.min.css"> -->
      <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!--===============================================================================================-->
      
    
    <!--===============================================================================================-->
      
    <!--===============================================================================================-->
     
    <!--===============================================================================================-->
      
    <!--===============================================================================================-->	
      
    <!--===============================================================================================-->
     
    <!--===============================================================================================-->
  
</head>
<body>
  
  <div class="row">
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
    <div class="col-md-1">.col-md-1</div>
  </div>
  <div class="row">
    <div class="col-md-8">.col-md-8</div>
    <div class="col-md-4">.col-md-4</div>
  </div>
  <div class="row">
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4">.col-md-4</div>
  </div>
  <div class="row">
    <div class="col-md-6">.col-md-6</div>
    <div class="col-md-6">.col-md-6</div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <p class="h4" title="Item_Identifier"><a href="#pp_var_-27798077419788484">Item_Identifier</a>
        <br><small>Categorical</small></p><code>HIGH CARDINALITY</code>
      <br><code>UNIFORM</code>
      <br>
      <p class="variable-description"></p>
    </div>
    <div class="col-sm-3">
      <table class="table table-condensed stats">
        <tbody>
          <tr class="alert">
            <th>Distinct</th>
            <td>1559</td>
          </tr>
          <tr>
            <th>Distinct (%)</th>
            <td>18.3%</td>
          </tr>
          <tr>
            <th>Missing</th>
            <td>0</td>
          </tr>
          <tr>
            <th>Missing (%)</th>
            <td>0.0%</td>
          </tr>
          <tr>
            <th>Memory size</th>
            <td>66.7 KiB</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div class="col-sm-6">
      <div class="col-sm- collapse in" id="minifreqtable">
        <table class="mini freq">
          <tbody>
            <tr class="">
              <th width="50%"> FDW13 </th>
              <td width="50%">
                <div class="bar" style="width:0.1%" data-toggle="tooltip" data-placement="right" data-html="true" data-delay="500" data-original-title="" title=""> &nbsp; </div> 10 </td>
            </tr>
            <tr class="">
              <th width="50%"> FDG33 </th>
              <td width="50%">
                <div class="bar" style="width:0.1%" data-toggle="tooltip" data-placement="right" data-html="true" data-delay="500" data-original-title="" title=""> &nbsp; </div> 10 </td>
            </tr>
            <tr class="">
              <th width="50%"> NCY18 </th>
              <td width="50%">
                <div class="bar" style="width:0.1%" data-toggle="tooltip" data-placement="right" data-html="true" data-delay="500" data-original-title="" title=""> &nbsp; </div> 9 </td>
            </tr>
            <tr class="">
              <th width="50%"> FDD38 </th>
              <td width="50%">
                <div class="bar" style="width:0.1%" data-toggle="tooltip" data-placement="right" data-html="true" data-delay="500" data-original-title="" title=""> &nbsp; </div> 9 </td>
            </tr>
            <tr class="">
              <th width="50%"> DRE49 </th>
              <td width="50%">
                <div class="bar" style="width:0.1%" data-toggle="tooltip" data-placement="right" data-html="true" data-delay="500" data-original-title="" title=""> &nbsp; </div> 9 </td>
            </tr>
            <tr class="other">
              <th width="50%"> Other values (1554) </th>
              <td width="50%">
                <div class="bar" style="width:100.0%" data-toggle="tooltip" data-placement="right" data-html="true" data-delay="500" data-original-title="" title=""> 8476&nbsp; </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->
  </div>
  


<!--Jquery Cdn -->
<!-- <script src="static/vendor/jquery/jquery-3.2.1.min.js"></script> -->
<!--===============================================================================================-->
    
    <!-- <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script> -->
    <!-- JavaScript Bundle with Popper -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script> -->
            
        <!--===============================================================================================-->
            
        <!--===============================================================================================-->
            <!-- <script src="static/js/main.js"></script> -->
            <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
            <!-- Popper.JS -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
            <!-- Bootstrap JS -->
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <script type="text/javascript">
   $(document).ready(function() {
    $("#btnFetch").click(function() {
      // disable button
      $(this).prop("disabled", true);
      // add spinner to button
      $(this).html(
        '<i class="fa fa-circle-o-notch fa-spin"></i> loading...'
      );
    });
});
  </script>
 
</body>
</html>